 --- ---
<div class="bookdiv" off-canvas="id-1 right push" class="content-wrapper bookslide" style="width:70%">
  <div class="content-wrapper__inner">
    <div class="main-post-list">

      <article class="post-container post-container--single">
        <header class="post-header">
          <a href="" onclick="showMore()"> <i id="arrowbutton" class="sidebarbuttontoggle arrowbutton fa fa-arrow-left" onclick="showMore()" aria-hidden="true"></i></a>
          <div class="post-meta">
          </div>
          <h1 class="maxTitle post-title">{{ site.data.content.sidetitle }}</h1>

        </header>

        <section class="post">
          <p>
            {{ site.data.content.sidedescription }}
          </p>

        </section>
        <!-- <section class="post">
            <div class="card">
              <img src="/images/profile.jpg" alt="" class="card-img-top">
              <div class="card-block">
                <h4 class="card-title">Hello World</h4>
                <p class="card-text">lorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
                <a href="#" class="btn btn-primary">Go to Demo</a>
              </div>
            </div>
          </section> -->

      </article>

      <!--  <hr class="post-list__divider "> -->



    </div>



  </div>

  <footer class="footer">
    <span class="footer__copyright">&copy; 2017 Ryan Fabela. All rights reserved.</span>
  </footer>



</div>